button:hover {
  box-shadow: -5px -5px rgb(0, 0, 0);
  transform: scale(1.2);
}

button {
  appearance: none;
  min-width: 100px;
  padding: 20px;
  border-radius: 8px;
  border: 4px solid rgb(0, 0, 0);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  box-shadow: 5px 5px rgb(0, 0, 0);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

img {
  width: 50%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
  margin: 0;
}

hover-button:hover {
  box-shadow: -5px -5px rgb(255, 255, 255);
}

.hover-button {
  font-family: "Iceland", sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

:root {
  background-color: #E2E8F0;
  font-size: 20px;
  box-sizing: inherit;
  background-image: url(/kassadinwallpaper.webp);
  background-size: cover;
  background-position: top -30% left 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h5 button {
  display: flex;
  position: absolute;
  left: 350px;
  font-size: 25px;
  top: 169px;
}

.cardspellimg1 {
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 10px #fdfdfd;
  border-radius: 7%;
  margin-left: 45px;
}

.cardspellimg2 {
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px #fdfdfd;
  border-radius: 7%;
  margin-left: 45px;
}

.cardspellimg3 {
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px #fdfdfd;
  border-radius: 7%;
  margin-left: 45px;
}

.cardspellimg4 {
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px #fdfdfd;
  border-radius: 7%;
  margin-left: 45px;
}

.cardspellimg5 {
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 7%;
  margin-left: 45px;
  box-shadow: 0 0 10px 10px #fdfdfd;
}

.card {
  margin-right: 50px;
  min-height: 200px;
  display: inline-table;
  max-width: 250px;
  height: 550px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 0 10px 10px #000000;
  position: relative;
  left: 350px;
  top: 90px;
  font-size: larger;
  font-family: Karla, sans-serif;
  cursor: pointer;
  background-image: url(https://64.media.tumblr.com/fb9f1e899cbb9e0e9cc0e551dd3d40c1/tumblr_p4gq736TQV1tltr42o1_540.gifv);
  background-size: cover;
  background-position: right 80% bottom 45%;
}

.card:hover {
  transform: skew(2deg, 3deg);
}

.cardtext {
  font-size: 20px;
  color: #ffffff;
  font-family: "Iceland", sans-serif;
  font-weight: 900;
  backdrop-filter: blur(10px);
  justify-content: space-evenly;
  border-radius: 7%;
  box-shadow: 0 0 1px 1px #ffffff;
}

.strongword {
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  justify-content: space-evenly;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  h5 button {
    display: flex;
    position: relative;
    top: 25px;
  }
  .buttonmanage {
    position: relative;
    display: inline-flex;
    right: 620px;
    top: 80px;
  }
  .weblogo {
    display: block;
  }
  .navbar {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .card {
    margin: 50px;
  }
}
.navbar {
  background-color: white;
  width: 100% !important;
  min-height: 180px;
  top: -20px;
  padding: 0;
  margin: 0;
  position: relative;
}

.searchbar {
  background-color: #E2E8F0;
  width: 500px;
  height: 35px;
  position: relative;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: small;
  border-color: #c417a7;
  border-width: 1px;
  top: 50px;
  left: 390px;
}

::placeholder {
  font-size: medium;
  font-family: "Roboto";
  font-weight: 600;
  color: grey;
}

input:focus::placeholder {
  color: transparent;
}

.navbar li button {
  font-family: Karla, sans-serif;
  font-weight: 900;
  position: relative;
  margin: 6px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  height: 25px;
  font-size: large;
  width: 60px;
  top: -20px;
}

.buttonmanage {
  position: absolute;
  margin-left: 970px;
  position: relative;
}

.span1 {
  margin: 5px;
}

img#avatar {
  width: 50px;
  z-index: 4;
  position: absolute;
  left: 1530px;
  top: 45px;
  cursor: pointer;
}

.textavatar {
  display: flex;
  width: 50px;
  z-index: 5;
  position: absolute;
  left: 1600px;
  top: 55px;
  text-decoration: none;
  font-family: Karla, sans-serif;
  color: #ffffff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.textavatar:hover {
  transform: scale(1.1);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 60px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252;
  }
}
.weblogo {
  cursor: pointer;
  height: 200px;
  width: 300px;
  display: block;
}

.panel {
  height: 100%;
  width: 300px;
  gap: 40px;
  font-family: Karla, sans-serif;
  display: flex;
  background-color: rgb(0, 0, 0);
  position: fixed;
  color: white;
  flex-direction: column;
  font-size: 22px;
  z-index: 2;
  text-align: center;
}

.panel span:hover {
  cursor: pointer;
  transform: scale(1.1);
  margin-left: 20px;
  text-decoration: underline rgb(255, 255, 255);
}

.panelsecond {
  color: white;
  position: fixed;
  bottom: 50px;
  gap: 20px;
  font-size: 22px;
  flex-direction: column;
  display: flex;
  font-family: Karla, sans-serif;
  z-index: 3;
  left: 100px;
}

.panelsecond span:hover {
  cursor: pointer;
  transform: scale(1.1);
  margin-left: 8px;
  text-decoration: underline rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */