button:hover {
  box-shadow: -5px -5px black;
  transform: scale(1.2);
}

button {
  appearance: none;
  min-width: 100px;
  padding: 20px;
  border-radius: 8px;
  border: 4px solid black;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  box-shadow: 5px 5px black;
  transition: box-shadow 0.3s;
}

img {
  width: 50%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  display: flex;
  background-color: #ffffff;
  height: 220px;
  width: 100%;
  top: -20px;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.searchbar {
  justify-content: center;
  align-items: center;
  background-color: #E2E8F0;
  width: 900px;
  height: 35px;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: small;
  position: relative;
  border-color: #141252;
  border-width: 1px;
}

::placeholder {
  color: black;
  font-size: medium;
}

input:focus::placeholder {
  color: transparent;
}

.navbar li button {
  font-family: Karla, sans-serif;
  font-weight: 900;
  display: flex;
  position: relative;
  left: 130px;
  top: 70px;
  margin: 20px;
  background-color: #141252;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 25px;
  font-size: large;
  width: 60px;
}

img#avatar {
  width: 50px;
  z-index: 4;
  position: absolute;
  right: 500px;
  top: 20px;
}

.textavatar {
  width: 50px;
  z-index: 5;
  position: absolute;
  right: 440px;
  top: 40px;
  text-decoration: none;
  font-family: Karla, sans-serif;
  color: #ffffff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.textavatar:hover {
  transform: scale(1.1);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000, 0 0 30px #000000;
  }
}
.kassa {
  width: 300px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.panel {
  height: 900px;
  width: 300px;
  left: 0px;
  top: 200px;
  gap: 40px;
  font-family: Karla, sans-serif;
  display: flex;
  background-color: #141252;
  position: fixed;
  color: white;
  flex-direction: column;
  font-size: 22px;
  z-index: 2;
}

.panel span:hover {
  cursor: pointer;
  transform: scale(1.1);
  margin-left: 20px;
  text-decoration: underline rgb(255, 255, 255);
}

.panelsecond {
  color: white;
  position: fixed;
  bottom: 100px;
  gap: 20px;
  font-size: 22px;
  flex-direction: column;
  display: flex;
  font-family: Karla, sans-serif;
  z-index: 3;
}

.panelsecond span:hover {
  cursor: pointer;
  transform: scale(1.1);
  margin-left: 8px;
  text-decoration: underline rgb(255, 255, 255);
}

body {
  background-color: #E2E8F0;
}/*# sourceMappingURL=main.css.map */