button:hover {
  box-shadow: -5px -5px black;
  transform: scale(1.2);
}

button {
  appearance: none;
  min-width: 100px;
  padding: 20px;
  border-radius: 8px;
  border: 4px solid black;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  box-shadow: 5px 5px black;
  transition: box-shadow 0.3s;
}

img {
  width: 50%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
  margin: 0;
}

hover-button:hover {
  box-shadow: -5px -5px black;
}

.hover-button {
  font-family: "Iceland", sans-serif;
  background-color: #141252;
  color: rgb(255, 255, 255);
}

:root {
  background-color: #E2E8F0;
  font-size: 20px;
  box-sizing: inherit;
}

h5 button {
  display: flex;
  position: absolute;
  left: 350px;
  font-size: 25px;
}

.cardtitle {
  font-family: "Iceland", sans-serif;
  color: white;
  background-color: #141252;
}

.cardspellname {
  font-family: "Iceland", sans-serif;
  font-size: xx-large;
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.card {
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 250px;
  height: 550px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 0 10px 10px #141252;
  position: relative;
  left: 350px;
  top: 140px;
  font-size: larger;
  font-family: Karla, sans-serif;
  cursor: pointer;
  gap: 80px;
  background-image: url(https://64.media.tumblr.com/9697300d35b8191382994619cf489d7e/tumblr_nvgonb8cEq1tvo2c3o1_540.gif);
  background-position: center;
  background-size: cover;
}

.card:hover {
  transform: scale(1.1);
}

.cardtext {
  font-size: 18px;
  color: #ffffff;
  font-family: "Iceland", sans-serif;
  font-weight: 900;
  backdrop-filter: blur(10px);
}

.strongword {
  font-size: 35px;
  color: black;
  font-weight: 900;
}

img.abilities {
  border-radius: 7px;
  box-shadow: 0 0 10px 4px #ff00ff;
  width: 80px;
  height: 80px;
}

.navbar {
  display: flex;
  background-color: #ffffff;
  height: 180px;
  width: 100%;
  top: -20px;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchbar {
  background-color: #E2E8F0;
  width: 500px;
  height: 35px;
  display: flex;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: small;
  border-color: #141252;
  border-width: 1px;
}

::placeholder {
  font-size: medium;
  font-family: "Roboto";
  font-weight: 600;
  color: grey;
}

input:focus::placeholder {
  color: transparent;
}

.navbar li button {
  font-family: Karla, sans-serif;
  font-weight: 900;
  display: flex;
  position: relative;
  left: 300px;
  top: 50px;
  margin: 20px;
  background-color: #141252;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 25px;
  font-size: large;
  width: 60px;
}

img#avatar {
  width: 50px;
  z-index: 4;
  position: absolute;
  right: 500px;
  top: 20px;
  cursor: pointer;
}

.textavatar {
  display: flex;
  width: 50px;
  z-index: 5;
  position: absolute;
  right: 440px;
  top: 40px;
  text-decoration: none;
  font-family: Karla, sans-serif;
  color: #ffffff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.textavatar:hover {
  transform: scale(1.1);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 60px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252;
  }
}
.weblogo {
  cursor: pointer;
  height: 200px;
  width: 300px;
}

.panel {
  height: 100%;
  width: 300px;
  gap: 40px;
  font-family: Karla, sans-serif;
  display: flex;
  background-color: #141252;
  position: fixed;
  color: white;
  flex-direction: column;
  font-size: 22px;
  z-index: 2;
  text-align: center;
}

.panel span:hover {
  cursor: pointer;
  transform: scale(1.1);
  margin-left: 20px;
  text-decoration: underline rgb(255, 255, 255);
}

.panelsecond {
  color: white;
  position: fixed;
  bottom: 50px;
  gap: 20px;
  font-size: 22px;
  flex-direction: column;
  display: flex;
  font-family: Karla, sans-serif;
  z-index: 3;
  left: 100px;
}

.panelsecond span:hover {
  cursor: pointer;
  transform: scale(1.1);
  margin-left: 8px;
  text-decoration: underline rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */