:root{

  background-color: #E2E8F0;
    font-size: 20px;
  box-sizing: inherit;
  background-image: url(/kassadinwallpaper.webp);
  background-size: cover;
  background-position: top -30%  left 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}



// Character button template

h5{
    button{
      display: flex;
      position: absolute;
      left: 350px;
      font-size: 25px;
      top: 169px;
    }
}

// Abilities Title




.cardspellimg1{
    
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 10px #fdfdfd;
  border-radius: 7%;
  margin-left: 45px;
  
  
  
  
  
  
  }


.cardspellimg2{

  background-position: center;
    background-size: cover;
    border-radius: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px 10px #fdfdfd;
    border-radius: 7%;
    margin-left: 45px;
    
    


}


.cardspellimg3{

  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px #fdfdfd;
  border-radius: 7%;
  margin-left: 45px;
  

}


.cardspellimg4{

  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px #fdfdfd;
  border-radius: 7%;
  margin-left: 45px;
  

}

.cardspellimg5{

  background-position: center;
  background-size: cover;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 7%;
  margin-left: 45px;
  box-shadow: 0 0 10px 10px #fdfdfd;
  
  


}


// Ability card

.card {
  margin-right: 50px;
  min-height: 200px;
  display: inline-table;
  max-width: 250px;
  height: 550px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  box-shadow: 0 0 10px 10px #000000;
  position: relative;
  left: 350px;
  top: 90px;
  font-size: larger;
  font-family: Karla, sans-serif;
  cursor: pointer;
  background-image: url(https://64.media.tumblr.com/fb9f1e899cbb9e0e9cc0e551dd3d40c1/tumblr_p4gq736TQV1tltr42o1_540.gifv);
  background-size: cover;
  background-position: right 80% bottom 45%;
  
  
  
}



.card:hover{
  transform: skew(2deg, 3deg);
}

// Ability description

.cardtext {
  font-size: 20px;
  color: #ffffff;
  font-family:'Iceland',sans-serif; 
  font-weight: 900;
  backdrop-filter: blur(10px);
  justify-content: space-evenly;
  border-radius: 7%;
  box-shadow: 0 0 1px 1px #ffffff;
  
  
}

.strongword{
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  justify-content: space-evenly;
  
}










