
// DASHBOARD                     // CHECK Z-INDEXS






.panel{
    height: 100%;
    width: 300px ;
    left: 0;
    top: 0;
    gap: 40px;
    font-family: Karla, sans-serif;
    display: flex;
    background-color: #141252;
    position: fixed;
    color: white;
    flex-direction: column;
    font-size: 22px;
    z-index: 2;
    text-align: center;
    
    
}

.panel span:hover{
    cursor: pointer;
    transform: scale(1.1);
    margin-left: 20px;
    text-decoration: underline rgb(255, 255, 255);
    
}



.panelsecond{

    color: white;
    position: fixed;
    bottom: 100px;
    gap: 20px;
    font-size: 22px;
    flex-direction: column;
    display: flex;
    font-family: Karla, sans-serif;
    z-index: 3;
    left: 100px;
    

    
}

.panelsecond span:hover{
    cursor: pointer;
    transform: scale(1.1);
    margin-left: 8px;
    text-decoration: underline rgb(255, 255, 255);
}



