.navbar{
    display: flex;
    background-color: #ffffff;
    height: 180px;
    width: 100%;
    top: -20px;
    padding:0;
    justify-content: center;
    align-items: center;
    position: relative;
}


.searchbar{
    background-color: #E2E8F0;
    width: 500px;
    height: 35px;
    display: flex;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    font-size:small;
    border-color: #141252;
    border-width: 1px;
    
    
}



::placeholder{
    
    font-size: medium;
    font-family: 'Roboto';
    font-weight: 600;
    color: grey;
    
}

input:focus::placeholder {
  color: transparent;
    
  }


  .navbar{
    li{
        button{
            font-family:Karla, sans-serif;
            font-weight: 900;
            display: flex;
            position: relative;
            left: 300px;
            top: 50px;
            margin: 20px;
            background-color: #141252;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            height: 25px;
            font-size: large;
            width: 60px;
        }
    }
}

 img#avatar{
    width: 50px;
    z-index: 4;
    position: absolute;
    right: 500px;
    top: 20px;
    cursor: pointer;
 }

 .textavatar{

  display: flex;
    width: 50px;
    z-index: 5;
    position: absolute;
    right: 440px;
    top: 40px;
    text-decoration: none;
    font-family: Karla, sans-serif;
    color: #ffffff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate ;
 }

 .textavatar:hover{

    transform: scale(1.1);
 }

 @keyframes glow {
    from {
      text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }
    to {
      text-shadow: 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 20px #141252, 0 0 60px #141252, 0 0 20px #141252, 0 0 20px #141252,0 0 20px #141252;
    }
  }
